/* Generales */
body {
	background: -webkit-gradient(linear, left top, left bottom, from(#cd5a30b9), to(#794127be)) fixed;
}

/* Media de favoritos e historial */
div.media {
	border-color: rgba(92, 48, 31, 0.662) !important;
	border-width: 3px !important;
	max-width: 550px;
	background-image: radial-gradient(rgba(195, 190, 190, 0.848), rgba(215, 186, 150, 0.91));
	box-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}
/* títulos de contenedores y texto */
span.container h1 {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 55px;
	color: white;
	text-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}
span.container h3 {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 35px;
	color: white;
	text-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}

span.container h4 {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 25px;
	color: white;
	text-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}

span.container p {
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 20px;
	color: white;
}

/* Barra de navegación */
.navbar-collapse .tabs {
	margin-top: 40px !important;
}

.navbar {
	height: auto;
	background-color: #760f0bc5;
	font-family: "Advent Pro";
	font-weight: 400;
	font-size: 14px;
	line-height: 1.3;
}

.navbar-nav {
	color: white;
	border-width: 1px;
	border-style: solid;
	border-radius: 8px 8px 0px 0px;
	font-family: "Helvetica";
	font-weight: 400;
	font-size: 14px;
}

#btnSearch {
	background-color: rgb(241, 130, 85);
}

#inputSearch,
#inputSearch::placeholder {
	background: none;
	color: white;
}

#inputSearch:focus {
	background-color: white;
	color: black;
}

#page-icon {
	width: auto;
	max-width: 65px;
}

div[aria-labelledby="dropdownId"]:nth-child(n+1) {
	background-color: rosybrown;
	color: white;
}

/* Modales */
.modal-content {
	background-image: linear-gradient(rgb(241, 130, 85), rgb(164, 146, 146));
}

.modal-content input::placeholder,
input[type='date'] {
	background-color: rgba(188, 182, 182, 0.779);
	color: white;
}

.modal-content input:focus {
	background-color: white;
	color: black;
}

button.btn-success {
	background-color: rgb(56, 161, 63);
}

button.btn-secondary,
button.btn-secondary:hover {
	background-color: rgb(202, 62, 62);
}

/* Carrusel */
.carousel-item {
	text-align: center;
	height: 400px;
}

.carousel-item img {
	max-width: 50%;
}

/* Cards */
.card-img-top {
	height: 200px;
	width: 230px;
	object-fit: cover;
}

.card-body {
	max-width: 230px;
}

.card {
	background-image: radial-gradient(white, rgba(214, 110, 69, 0.662));
}

.card a.btn {
	background-color: rgb(70, 157, 210);
	border-color: rgb(70, 157, 210);
}

.card a.btn:hover {
	background-color: cadetblue;
}

/* Paginación */
li.active a.page-link {
	background-color: rgba(92, 48, 31, 0.662) !important;
	color: black;
	border-color: rgba(92, 48, 31, 0.662) !important;
}

li.disabled a.page-link {
	background-color: rgb(188, 182, 172) !important;
}

a.page-link {
	background-color: rgba(214, 110, 69, 0.662);
	color: black;
	border-color: rgba(92, 48, 31, 0.662);
}

/* Página receta */
/* Estrellas para calificar */
#recipeCalif span {
	cursor: pointer;
	text-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}

#recipeCalif span:hover {
	color: rgba(255, 200, 0, 0.82);
}
/* botón para enviar calificación */
#btnCalif {
	background-color: rgba(226, 187, 136, 0.689);
	border-style: none;
	color: white;
	font-size: 20px;
	width: 150px;
	height: 40px;
	box-shadow: 3px 5px 10px rgba(92, 48, 31, 0.662);
}

#btnCalif:hover {
	background-color: rgba(150, 121, 83, 0.689);
	color: rgb(181, 180, 166);

}
/* Corazón que permite saber si está en favoritos o no */
#recipeFav i {
	color: rgb(255, 255, 255);
	cursor: pointer;
}
/* Video demostrativo */
div.embed-responsive {
	max-width: 600px;
	margin-top: auto !important;
	margin-bottom: 200px !important;
}

.imgRounded{
	border-radius: 10%;
}
