<!doctype html>
<html lang="en">

<head>
    <title>Editar Receta</title>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- main CSS -->
    <link rel="stylesheet" href="admin_main.css">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.1.1/css/all.css"
        integrity="sha384-O8whS3fhG2OnA5Kas0Y9l3cfpmYjapjI0E4theH4iuMD+pLhbf6JI0jIMfYcK3yZ" crossorigin="anonymous">
    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
</head>

<body>

    <!-- Barra navegación -->
    <nav class="navbar navbar-expand-sm navbar-dark">
        <a class="navbar-brand">
            <img id="page-icon" src="https://static.thenounproject.com/png/98767-200.png" alt="icon-page">
        </a>
        <a class="navbar-brand" href="home">
            <h1>Recetario</h1>
        </a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId"
            aria-controls="collapsibleNavId" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
            <ul class="navbar-nav mr-auto ml-5 tabs">
                <li class="nav-item active">
                    <a class="nav-link" href="home">Home <span class="sr-only">(current)</span></a>
                </li>
                <li class="nav-item dropdown">
                    <a class="nav-link dropdown-toggle" href="#" id="dropdownId" data-toggle="dropdown"
                        aria-haspopup="true" aria-expanded="false">Mi Cuenta</a>
                    <div class="dropdown-menu" aria-labelledby="dropdownId">
                        <a class="dropdown-item" href="home">Cerrar sesión</a>
                    </div>
                </li>
            </ul>
        </div>
    </nav>

    <!-- Datos a agregar -->
    <div class="container">
        <div class="row">
            <div class="col border">
                <div class="title border-bottom border-white">
                    <h4>Información básica</h4>
                </div>
                <div class="content">
                    <label for="name">Nombre: </label>
                    <input id="nameRecipe" type="text" name="name" placeholder="Nombre" required><br>
                    <label for="description">Descripción: </label>
                    <textarea id="descrRecipe" placeholder="Descripción de receta" required></textarea><br>
                    <label for="portions">Porciones: </label>
                    <input id="portionsRecipe" type="number" name="portions" value="1" required><br>
                    <label for="tipoReceta">Tipo: </label>
                    <select id="recipeType" name="tipoReceta" required>
                        <option selected>Selecciona una opción</option>
                    </select><br>
                    <label for="recipeTime">Tiempo: </label>
                    <select id="recipeTiming" name="recipeTime" required>
                        <option selected>Selecciona una opción</option>
                    </select><br>
                </div>
            </div>
            <div class="col border">
                <div class="title border-bottom border-white">
                    <h4>Información preparación</h4>
                </div>
                <div id="dataRecipeCont" class="content">
                    <label for="nameIngredientes">Ingredientes: </label>
                    <a id="addIngredient" onclick="addInputIngr()"><i class="fas fa-plus-circle"></i></a><br>

                </div>

                <label for="procedure">Procedimiento: </label>
                <textarea id="recipeProcedure" name="procedure" placeholder="Procedimiento de receta"
                    required></textarea><br>
            </div>
            <div class="col border">
                <div class="title border-bottom border-white">
                    <h4>Imagen</h4>
                </div>
                <div class="content">
                    <label for="image">Agregar imagen: </label>
                    <input id="urlImg" name="urlVideo" type="text" placeholder="Ingresa url de imagen"
                        style="margin-bottom: 15px;" required><br>
                </div>
                <div class="content">
                    <label for="urlVideo">URL para video</label><br>
                    <input id="urlVid" name="urlVideo" type="text" placeholder="Ingresa url de video"
                        style="margin-bottom: 15px;" required><br>
                </div>
            </div>
        </div>
        <div class="row mt-2">
            <div><button id="addIngredient" type="submit" onclick="updateRecipe()"
                    class="btn btn-primary btn-lg">Actualizar
                    Receta</button><br></div>
            <div><button id="deleteRecipe" type="submit" onclick="deleteRec()" class="btn btn-danger ml-3">Borrar
                    Receta</button><br></div>
            <div><a href="/home"> <button type="button" class="btn btn-warning ml-3">Regresar</button>
                </a></div>
        </div>


    </div>

    <!-- Contenido de receta -->
    <!-- Optional JavaScript -->
    <script src="../../DOM/utils.js"></script>
    <script src="../../DOM/ajax_handler.js"></script>
    <script src="../../DOM/edit_utils.js"></script>
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous">
    </script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1" crossorigin="anonymous">
    </script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM" crossorigin="anonymous">
    </script>
</body>

</html>